<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome!</title>
</head>
<body>
    <h1>Hi All, <br> My self Balquise who is on the path to explore life and share tips which will help you live a meaningful life</h1>
    <p>
       Inner peace is closely related to happiness. From Buddhist philosophy to Mahatma Gandhi and the Dalai Lama, they have all been strong proponents of inner peace.

“The pursuit of inner peace is more important than the search for happiness or success.”
        Peace vs. Happiness: Is One More Important?
Given that peace and happiness are related concepts, the obvious question that arises in one’s mind – is one more important than the other? The answer to this simple question is more complicated than one might think. Scholars are not sure which one leads to the other.

That is, does peace lead to happiness? Or, conversely, does happiness lead to peace?

In other words, the causality is not clear. Perhaps, the best way to describe their relationship for the time being, lest empirical studies prove it otherwise is – there is a symbiotic relationship between these two concepts. To elucidate, both inner peace and happiness are associated with positive emotions (e.g., Lyubomirsky, King, & Diener 2005).

Therefore, experiencing positive emotions can lead to increment in one’s inner peace as well as happiness levels.

It is extremely likely that these two concepts are not mutually exclusive.
    </p>

<img src="/static/flask_logo.png">


</body>
</html>