<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Add Card</title>
</head>
<body>
<em><strong>Hi All, <br><br> My self Balquise, a counseling student who is on the path to explore life and share experiences which will help you live a meaningful life!</strong></em>
    <p>
        Be the change you want to see in the world - Mahatma Gandhi<br>
        <p>Stay tuned for articles on life and inner peace.<p>
    </p>

<!img src="/static/flask_logo.png"-->


</body>
</html>