<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Add Card</title>
</head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/Flask_logo.png">
    <title>Add Card</title>
</head>
<body>
<em><strong>Hi All, <br><br> My self Balquise, a counseling student who is on the path to explore life and share experiences which will help you live a meaningful life!</strong></em>
    <p>
        Be the change you want to see in the world - Mahatma Gandhi<br>
        <p>Stay tuned for articles on life and inner peace.<p>
    </p>

<H1>On Being Your Own Best Friend</H1>
<p>“The greatest thing in the world is to know how to belong to oneself “”is a quote ascribed to Michel de Montaigne, a 16th century French philosopher. Most of us would like to have somebody whom we could call as our best friend, a person to whom we can confide all our inner thoughts and feelings, and who has our complete trust in all aspects of our relationship. While maintaining good interpersonal relations is a skill worth acquiring, intrapersonal relations are also equally important. Intrapersonal relations are all about getting along well with ourselves, being comfortable with who we are, and always acting in our best interests, based on self-love rather than selfishness. While there may be no sharp line separating selfishness from self-love, selfishness actually comes from a lack of self-love. Without self-love we can never really love another person, as we cannot give away something which we don’t have in the first place.

Another area where we can improve our intrapersonal relations is in the way we respond to other peoples’ negative views about us. The way we react depends on our own thoughts and emotions. There can be three kinds of responses—one is to keep quiet and absorb all the negative thoughts and their energy directed at us, the second being to reflect the negative energy in the same fashion back to the sender, and the third way is to transform the negative energy coming towards us to a positive energy, with the knowledge that nobody knows us as well as ourselves. It is only this third response which will be in our best interests. We should not permit any person, place or thing to deflect us from our sense of peace and tranquility.

Getting to know ourselves, what we really value and believe deep down, and living our life as per our own beliefs is also very important to being our own best friend. Skills required to discover our true authentic self includes cultivating the quality of awareness, embracing the quality of honesty and facing the truth without flinching, and sharpening the quality of discernment or taking the right decision based on our values in life. An authentic person will also be emotionally agile, having the ability to be aware of his emotions, and then knowing what to do with them.

Finally, having compassion and empathy not only to others but also to ourselves would help us in improving our intrapersonal skills. Empathy is all about feeling what the other person feels without getting emotionally involved, and acting in a non-judgmental manner. In the case of self- empathy, while we may be fully aware of our emotions, we can still act as though those emotions belong to somebody else, and act towards ourselves as if we were helping that other person get over whatever traumatic situation we may be facing. Being kind to ourselves involves understanding our needs—physical, mental and emotional—and providing for them. Also, forgiving ourselves for any of our mistakes by observing our emotions dispassionately and then moving on with our life is another important trait for getting along well with ourselves. As Lucille Ball, the American actress and comedian said, “Love yourself first, and then everything falls in place”</p>

<html>
<head>
    <title>Space Clicker</title>
</head>

<body>
    <script type="text/javascript">

    var clicks = 0;
    function hello() {
        clicks += 1;
        document.getElementById("clicks").innerHTML = clicks;
    };
    </script>
    <button type="button" onclick="hello()">Likes</button>
    <p>Clicks: <a id="clicks">0</a></p>

</body></html>

</body>
</html>